@import '~bootstrap/scss/bootstrap';

.deleteChat {
  background: none;
  font-size: 10px;
  border: none;
  color: #3480eb;
}

.deleteChat :hover {
  text-decoration: line-through;
  color: #2a64b5;
}

.sentMessage {
  border: 1px solid grey;
  border-radius: 5px;
  height: 250px;
  overflow-y: scroll;
}

.chat-container {
  position: relative;
}

.container-alert {
  z-index: 2;
}

.navbar-stuff {
  margin-bottom: 20px;
  position: relative;
}

.nav-margin {
  margin: 5px;
}

.navbar-crypto :hover {
  background-color: #74c466;
}

.disclaimer {
  text-align: center;
  font-size: 10px;
  padding: 4px;
  background-color: rgba(112, 194, 97, .7);
  margin: 20px;
}

.back {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 7px;
  border: 2px solid #4e8544;
  color: #4e8544;
  &:hover {
    color: #4e8544;
    background-color: rgba(112, 194, 97, .3);
    text-decoration: none;
  }
}
